.ltcpg { 
  font-size: 84px;
  margin-bottom: 48px;
  margin-top: 33px;
  border-right-width: 0px;
  padding-top: 44px;
  padding-bottom: 38px;
  padding-top: 95px;
  padding-left: 57px;
  margin-right: 11px;
  margin-bottom: 6px;
  margin-right: 73px;
  margin-bottom: 51px;
  line-height: 3px;
  padding-top: 30px;
  padding-left: 25px;
  padding-left: 19px;
}
